
<footer>


		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-4 col-sm-12"></div>
				<div class="col-md-4 col-sm-12 justify-content-center">
						<p style="text-align:center; font-size:12px;">
							Penn Business Roundtable &mdash; <script>document.write(new Date().getFullYear())</script>
						</p>
				</div>
				<div class="col-md-4 col-sm-12 col-lg-push-1 col-md-push-1 col-xl-push-1">
					<ul class="social-network" style="padding-left:0;">
						<li><a target="_blank" href="https://www.facebook.com/Penn-Business-Roundtable-450195592435957/" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<!--
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
						-->
					</ul>
				</div>
			</div>
		</div>

</footer>

<div style="display:none;" id="applypopup" class="popup"><img src="images/favicon.png"><span>We are accepting new members!<br>If you would like to apply, fill out our <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdKQLUCKt4HDtfDDvgMA1LuQkZ-HuvNUNIVkLiaSNAqoI4R4g/viewform">interest form</a>,<br> and check out <a href="https://pennclubs.com/club/penn-business-roundtable">our page on Penn Clubs</a>.</span><div class="close">&times;</div></div>
