<header>
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo" height="42"/></a>
			</div>
			<div class="navbar-collapse collapse ">
				<ul class="nav navbar-nav">
					<li id="Penn Business Roundtable"><a href="/">Home</a></li>
					<li id="About"><a href="/about">About</a></li>
					<!-- <li id="Speakers"><a href="/speakers">Speakers</a></li> -->
					<li id="Roundtables"><a href="/roundtables">Roundtables</a></li>
					<li id="Members"><a href="/members">Members</a></li>
					<!-- <li id="Photos"><a href="/photos">Photos</a></li> -->
					<li id="Contact"><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
