<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About</title>

<% include global/head %>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- start header -->
  <% include global/header %>
  <!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
	</section>



  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>Guest Speakers</h2>
            <p>Penn Business Roundtable guest speakers come from a wide range of industries. While many of our speakers work in finance, consulting and tech— the most common first jobs for Penn grads—students are also eager to learn about other career paths. During a Roundtable discussion, students ask our guest speakers questions they may be reluctant to ask when being formally assessed as a job candidate.
</p><p>The Roundtable is officially registered with the University of Pennsylvania and we host our discussions with guest speakers on the Penn campus</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding padding-sm gray-bg">
    <div class="container">
      <div class="row showcase-section">
        <div class="col-md-6" align="center">
          <br>
          <br>
          <img class="mt-20" src="images/founders.jpg" alt="showcase image" height="300">
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <br><br>
            <h3>Founders</h3>
            <p>The Penn Business Roundtable’s founders are undergraduates at the University of Pennsylvania. They observed that Penn undergrads feel pressure to start looking at careers as early as freshmen year, yet most don’t know what these careers actually entail. Its founders  conceived and organized the Penn Business Roundtable to meet this important student need.
</p><p>In addition to building a community to share knowledge and ideas among its members, the Roundtable hosts monthly discussions where business leaders and students engage in a dialogue about career paths in an informal setting. The Roundtable’s objective is to help undergraduates better understand career alternatives without the pressures attendant to a job interview or formal company information session.</p>
          </div>
        </div>
      </div>
    </div>
  </section>




  <% include global/footer %>

</div>

<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<% include global/foot %>
</body>
</html>
