<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About</title>

  <% include global/head %>


</head>

<body>

<% include global/header %>






  <div class="container">
    <header class="jumbotron my-4">
      <h1 class="display-3">Test</h1>
<br><br>



    </header>




  </div>

<% include global/footer %>


</body>

</html>
