<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Contact</title>

<% include global/head %>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- start header -->
	<% include global/header %>
  <!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Contact Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">

	<div class="container">
		<div class="row">
							<div class="col-md-12">
								<div class="about-logo">
									<h3>By Email</h3>
									<p>Feel free to contact us by email at <a href="mailto:pennbusinessroundtable@gmail.com">pennbusinessroundtable@gmail.com</a></p>
								</div>
							</div>
						</div>
            <div class="row">
                      <div class="col-md-12">
                        <div class="about-logo">
                          <h3>Social Media</h3>
                          <p>Check out our <a target="_blank" href="https://www.linkedin.com/company/28948247/">LinkedIn</a> and <a target="_blank" href="https://www.facebook.com/Penn-Business-Roundtable-450195592435957/">Facebook</a></p>
                        </div>
                      </div>
                    </div>
						<div class="row">
                      <div class="col-md-12">
                        <div class="about-logo">
                          <h3>Penn Clubs</h3>
                          <p>Check out <a target="_blank" href="https://pennclubs.com/club/penn-business-roundtable">our page on Penn Clubs</a></p>
                        </div>
                      </div>
                    </div>
	</div>
  <br>

	</section>
	<% include global/footer %>
</div>

<% include global/foot %>

</body>
</html>
