<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Penn Business Roundtable</title>

<% include global/head %>

</head>

<body id="page-top">

<% include global/header %>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to Penn Business Roundtable</h1>
      <p class="lead">blurb.</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
          <p class="lead">Short about:</p>
          <ul>
            <li>Speakers</li>
            <li>etc</li>
            <li>etc</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact</h2><br>
          <p class="lead">Other stuff</p>
        </div>
      </div>
    </div>
  </section>


<% include global/footer %>

</body>

</html>
